    body {
        background-color: #424549;
        margin: 0;
    }
    
    .content {
        padding-top: 125px;
    }
    
    .nav {
        background-color: #36393e;
        position: fixed;
        display: block;
        height: 75px;
        width: 100%;
        margin: 0;
    }
    
    .nav p {
        font-family: arial;
        font-weight: bold;
        font-size: 20px;
        padding: 25px;
        color: white;
        margin: 0;
    }
    
    .conbox {
        transition-duration: 600ms;
        background-color: #36393e;
        border-radius: 20px;
        margin-right: auto;
        margin-left: auto;
        padding: 25px;
        width: 50%;
    }

    .prj {
        transition-duration: 600ms;
        background-color: #282b30;
        border-radius: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .prj img {
        border-radius: 10px;
        position: absolute;
        height: 50px;
    }

    .prj p {
        margin: 10px 0 25px 75px;
        font-family: arial;
        font-weight: bold;
        font-size: 30px;
        color: white;
    }

    .prj p1 {
        font-family: arial;
        font-size: 20px;
        color: white;
    }

    .prj p2 {
        font-family: arial;
        font-size: 15px;
        color: white;
    }
    
    .prjcontent {
        padding: 25px;
    }

    .lnb {
        height: 25px;
        padding: 0;
    }
